<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>升级广告</string>
		<key>Url</key>
		<string>/WebServices/AdvertiseUpgrade.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>登录</string>
		<key>Url</key>
		<string>/WebServices/kiosk.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>找回密码</string>
		<key>Url</key>
		<string>/WebServices/PasswordRetrieval.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询站点</string>
		<key>Url</key>
		<string>/WebServices/GetStores.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查站内车辆</string>
		<key>Url</key>
		<string>/WebServices/GetVehicles.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>提交订单</string>
		<key>Url</key>
		<string>/WebServices/SubmitOrder.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>修改个人信息</string>
		<key>Url</key>
		<string>/WebServices/ModifyPersonalInfo.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>修改密码</string>
		<key>Url</key>
		<string>/WebServices/ModifyPassword.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询积分</string>
		<key>Url</key>
		<string>/WebServices/QueryScores.asmx </string>
	</dict>
	<dict>
		<key>Description</key>
		<string>投诉和建议</string>
		<key>Url</key>
		<string>/WebServices/SubmitComplaintAndSuggestion.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询订单列表</string>
		<key>Url</key>
		<string>/WebServices/QueryOrders.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询订单详情</string>
		<key>Url</key>
		<string>/WebServices/QueryOrder.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>取消订单</string>
		<key>Url</key>
		<string>/WebServices/CancelOrder.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>延续订单</string>
		<key>Url</key>
		<string>/WebServices/ContinueOrder.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询电量信息</string>
		<key>Url</key>
		<string></string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询充电桩位置</string>
		<key>Url</key>
		<string></string>
	</dict>
	<dict>
		<key>Description</key>
		<string>查询收藏夹</string>
		<key>Url</key>
		<string>/WebServices/QueryFavorite.asmx</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>推送信息</string>
		<key>Url</key>
		<string></string>
	</dict>
</array>
</plist>
